* {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: rgb(235, 111, 156);
      color: white;
      font-family: "Poppins", sans-serif;
    }

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      background-color: rgb(194, 27, 88);
    }
    nav ul {
      display: flex;
      justify-content: center;
    }
    nav ul li {
      list-style: none;
      margin: 0 23px;
    }
    nav ul li a {
      text-decoration: none;
      color: white;
    }
    nav ul li a:hover {
      color: rgb(235, 111, 156);
      font-size: 1.04rem;
    }
    main hr {
      border: 0;
      background-color: rgb(194, 27, 88);
      height: 1.2px;
      margin: 60px 84px;
    }
    .left {
      font-size: 1.5rem;
    }
    .firstsection {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 130px 0;
    }
    .firstsection img {
      height: 500px;
    }
    .firstsection > div {
      width: 30%;
    }
    .leftsection {
      font-size: 3rem;
    }
    .buttons {
      padding: 50px 0;
    }
    .leftsection .btn {
      padding: 12px;
      background-color: rgb(194, 27, 88);
      color: white;
      border: 2px solid white;
      border: 6px;
      font-size: 20px;
      cursor: pointer;
    }
    .rightsection {
      width: 80%;
    }
    .purple {
      color: rgb(194, 27, 88);
    }
    .text-gray {
      color: black;
    }
    #element {
      color: rgb(194, 27, 88);
    }
    .secondSection {
      max-width: 80vw;
      margin: auto;
      height: 80vh;
    }
    .secondSection h1 {
      font-size: 2rem;
    }
    .secondSection .box {
      background-color: white;
      width: 77vw;
      height: 2px;
      margin: 56px 0;
      display: flex;
    }
    .secondSection .vertical {
      height: 93px;
      width: 1px;
      background-color: white;
      margin: 0 120px;
    }
    .secondSection img {
      width: 23px;
      position: relative;
      top: -32px;
      left: -9px;
    }
    .vertical-title {
      position: relative;
      top: 75px;
      width: 150px;
    }
    .vertical-description {
      position: relative;
      top: 86px;
      color: black;
      width: 150px;
      font-size: 9px;
    }
    footer {
      background-color: rgb(194, 27, 88);
    }
    .footer {
      display: flex;
      padding: 50px 50px;
      justify-content: space-evenly;
    }
    .footer ul {
      list-style: none;
    }
    .footer > div {
      width: 223px;
    }
    footer .footer-rights {
      text-align: center;
      color: black;
      padding: 12px 0;
    }